body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff9f1;
    color: #333;
}

.nav-header {
    background-color: #ffa726;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.nav-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-header h1 {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-header a:hover {
    text-decoration: underline;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff3e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#form-registro h2, h5 {
    margin: 0.5rem;
    text-align: center;
    color: #ef6c00;
}

#form-registro {
    display: flex;
    flex-direction: column;
}

#form-registro input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-registro button {
    margin-top: 1rem;
    background-color: #fb8c00;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#form-registro button:hover {
    background-color: #ef6c00;
}
